{% extends 'base.html' %}

{% block title %}
Склад
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Склад</h1>
      <a href="creat" class="btn btn-primary">Добавить продукт</a>
</div>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Описание</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  {% for Products in posts %}
  <tbody>
    <tr>
      <th scope="row">{{ Products.id }}</th>
      <td>{{ Products.name }}</td>
      <td>{{ Products.description }}</td>
      <td>{{ Products.price }} <a href="/prod/{{ Products.id }}" class="btn btn-success">Редактировать</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock %}